{% extends "base.twig" %}

{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% include 'nav.twig'%}
    <section class="section row">
        {% include 'aside.php' %}
        <div class="col-10">
            <h3>имя и фамилия</h3>
            <p>Аватар</p>
            <p>День рождения</p>
            <p>E-mail</p>
            <p></p>
            <a class="btn btn-primary btn-md" href="#">Изменить</a>
        </div>
    </section>
{% endblock %}

