<aside class="aside_nav col-2">
    <div class="aside_nav__item">
        <a href="/task">
            <i class="fas fa-tasks"></i>
            <div class="aside_nav__item_text">Задачи</div>
        </a>
    </div>
    <div class="aside_nav__item">
        <a href="/project">
            <i class="fas fa-project-diagram"></i>
            <div class="aside_nav__item_text">Проекты</div>
        </a>
    </div>
    <div class="aside_nav__item">
        <a href="/chat">
            <i class="fas fa-comment"></i>
            <div class="aside_nav__item_text">Сообщения</div>
        </a>
    </div>
    <div class="aside_nav__item">
        <a href="/calendar">
            <i class="far fa-calendar-alt"></i>
            <div class="aside_nav__item_text">Календарь</div>
        </a>
    </div>
    <div class="aside_nav__item">
        <a href="/report">
            <i class="fas fa-chart-line"></i>
            <div class="aside_nav__item_text">Отчеты</div>
        </a>
    </div>
</aside>