<aside class="aside_nav col-2">
    <div class="list-group list-group-flush">
        <a href="/task" class="list-group-item list-group-item-action">
            <i class="fas fa-tasks"></i>
            Задачи
        </a>
        <a href="/project" class="list-group-item list-group-item-action">
            <i class="fas fa-project-diagram"></i>
            Проекты</a>
        <a href="/chat" class="list-group-item list-group-item-action">
            <i class="fas fa-comment"></i>
            Сообщения</a>
        <a href=href="/calendar" class="list-group-item list-group-item-action">
            <i class="far fa-calendar-alt"></i>Календарь</a>
        <a href="/report" class="list-group-item list-group-item-action disabled">
            <i class="fas fa-chart-line"></i>Отчеты</a>
    </div>
</aside>