<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <link rel="stylesheet" href="/css/bootstrap.min.css">
            <link rel="stylesheet" href="/css/fontawesome-all.css">
            <link rel="stylesheet" href="/css/style.css" />
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div class="container">
           <div> {% block content %}{% endblock %}</div>
           {% include 'footer.twig' %}
        </div>
        <div>
            {% block scripts %}
                <script src="/js/jquery-3.3.1.min.js"></script>
                <script src="/js/popper.min.js"></script>
                <script src="/js/bootstrap.min.js"></script>
            {% endblock %}
        </div>

    </body>
</html>