{% extends "base.twig" %}

{% block title %}{{ page_title }}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% include 'nav.twig'%}
    {% include "result_modal.twig" %}
    <section class="section row">
        {% include 'aside.twig' %}
        <div class="wrapper mx-auto col-10">
		<h3>Новая задача</h3>	
		<form method="post" id="task_form" action="/task/add">
		    <div class="form-group">
		    	<label for="title">Название</label>
		    	<input class="form-control" type="text" name="title" id="title"
                               data-validation="length"
                               data-validation-length="5-100"> 
			</div>
		    <div class="form-group">
		    	<label for="description">Описание</label>
		    	<textarea class="form-control" name="description" id="description"
                                  data-validation="length"
                                  data-validation-length="5-200"></textarea>
			</div>
		    <div class="form-group">
		    	<label for="date_start_plan">Дата начала</label>
		    	<input class="form-control" type="date" name="date_start_plan" id="date_start_plan"
                               data-validation="date"> 
			</div>
			<div class="form-group">
		    	<label for="date_end_plan">Дата завершения</label>
		    	<input class="form-control" type="date" name="date_end_plan" id="date_end_plan"
                               data-validation="date"> 
			</div>
			<div class="form-group">
		    	<label for="time_plan">Планируемое время выполнения</label>
		    	<input class="form-control" type="time" name="time_plan" id="time_plan"
                               data-validation="time"> 
			</div>
                    	<div class="form-group">
                            <input type="file" name="doc" id="doc"> 
			</div>
		    <input type="submit" class="btn btn-primary btn-md" value="Добавить задачу">
		</form>
        </div>
    </section>
{% endblock %}